# Android studio
.idea/
.gradle/
build/
externalNativeBuild/
local.properties
captures/
*.iml
*.iws
*.ipr

# Temp files
*~

src/main/java/com/nextgis/store/Api.java
src/main/java/com/nextgis/store/ApiJNI.java
src/main/java/com/nextgis/store/ChangeCodes.java
src/main/java/com/nextgis/store/NotificationCallback.java
src/main/java/com/nextgis/store/ProgressCallback.java
src/main/java/com/nextgis/store/SourceCodes.java

src/main/libs
src/main/obj
src/main/jni/arm*
src/main/jni/x86*

src/main/jni/bin
src/main/jni/include
src/main/jni/lib
src/main/jni/share
src/main/jni/src

src/main/cpp/inst/bin
src/main/cpp/inst/include
src/main/cpp/inst/lib
src/main/cpp/inst/share
src/main/cpp/inst/src
